# Django
DJANGO_SETTINGS_MODULE=onlydjango.settings.prod
DJANGO_SECRET_KEY=123
MAIN_HOST=onlydjango.com
SITE_NAME=OnlyDjango

# Redis
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379

# Telegram (for logging and social auth)
TELEGRAM_CHAT_ID=123
TELEGRAM_BOT_TOKEN=123
TELEGRAM_BOT_ID=123

# AWS S3 Storage
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_CUSTOM_DOMAIN=

# PostgreSQL Database
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=admin
PGHOST=localhost
PGPORT=5432

# Database Pool Settings (Production)
DB_POOL_MIN_SIZE=5
DB_POOL_MAX_SIZE=100
DB_POOL_TIMEOUT=500

# Email (Production)
ADMIN_EMAIL=admin@example.com
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Development
DEV_STORAGE=local
