name: onlydjango

services:
  redis:
    image: redis:latest
    ports:
      - "6393:6379"

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5446:5432"